
<div class="m-background-image"></div>
<div class="col-md-4 col-sm-12 col-xs-12 login-form">
  <div class="cred-form">

    <div class="home-link billabong text-center">
      <%= link_to "Wastegram", root_url %>
    </div>

    <%= flash_messages %>

    <form class="form-horizontal" action="<%= session_url %>" method="POST">

      <%= render_auth_token %>

      <div class="form-group">
        <label class="maxwidth">Email:
          <input type="text" class="form-control" id="email" name="user[email]" value="<%= @user.email %>">
        </label>
      </div>

      <div class="form-group">
        <label class="maxwidth">Password:
         <input type="password" class="form-control" id="password" name="user[password]">
        </label>
      </div>

      <div class="form-group">
        <button class="btn btn-info maxwidth guest-login">Guest</button>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-default maxwidth login-button" value="Log In">
      </div>

    </form>
  </div>
  <div class="sign-up-link">
   <%= link_to "Need an account?", new_user_url %>
  </div>
</div>
<%= javascript_include_tag 'application' %>
<script>
  $(document).ready(function(){
    Guest.initialize();

    var images = ['http://res.cloudinary.com/dvd7awvbl/image/upload/e_grayscale/zprlcjmy5pime95jdti5.jpg', 'http://res.cloudinary.com/dvd7awvbl/image/upload/e_saturation:70/zvbdgpvei9mdggplswp5.jpg'];

    var url = images[Math.floor(Math.random() * images.length)];
    var img = new Image();
    img.onload = function(){
      $('.m-background-image').css({'background-image': 'url('+url+')', 'background-size' : 'cover', 'opacity' : 0.6 });
      $('.m-background-image').hide().fadeIn('slow');
    }
    img.src = url;
  });
</script>
