<div class="sign-up-form">

  <h3>Sign Up</h3>

  <%= link_to "Index", root_url %>
  <%= link_to "Log In", new_session_url %>

  <%= flash_messages %>

  <form action="<%= users_url %>" method="POST">

    <%= render_auth_token %>

    <label>Email:
      <input type="text" name="user[email]" value="<%= @user.email %>">
    </label>

    <label>Username:
      <input type="text" name="user[username]" value="<%= @user.username %>">
    </label>

    <label>Password:
     <input type="password" name="user[password]">
    </label>

    <input type="submit" value="Log In">

  </form>

<div>
