

<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
  <div class="edit-profile-spacer"></div>
  <div class="edit-profile-cont">

    <div class="home-link billabong text-center">
    </div>

    <form class="form-horizontal profile-form">

     <div class="form-group profile-img-preview">
       <div id="profile-spinner"></div>
       <img src="<%= user.escape('image_url') %>">
       <div class="filters btn-group"></div>
     </div>

     <div class="user-stats">
      <strong><%= user.escape('username') %></strong><br>
      <%= user.escape('followers') %> followers
      <%= user.escape('followed') %> followed
      <%= user.escape('posts') %> posts
      <div class="form-group">
        <button class="upload-profile-pic btn btn-default">Change Picture</button>
      </div>
     </div>



     <div class="form-group">
      <label class="maxwidth">Email:
        <input type="text" class="form-control" name="email" value="<%= user.escape('email') %>">
      </label>
    </div>

    <div class="form-group">
      <input class="btn btn-info maxwidth" type="submit" value="Edit Profile">
    </div>
    </form>

  </div>
</div>
