<!DOCTYPE html>
<html>
<head>
  <title>Wastegram</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://widget.cloudinary.com/global/all.js"
          type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_PROFILE = {
      cloud_name: "<%= ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
      cropping: 'server',
      theme: 'white',
      cropping_aspect_ratio: 1,
      show_powered_by: false
    };
    window.CLOUDINARY_POST = {
      cloud_name: "<%= ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
      cropping: 'server',
      theme: 'minimal',
      stylesheet: "#cloudinary-overlay { background-color: rgba(0,0,0,0.7);}",
      show_powered_by: false
    };
  </script>
  <%= csrf_meta_tags %>
</head>
<body>





<%= yield %>

</body>
</html>
